@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
/*.offer-section {*/
/*    width: 1440px;*/
/*}*/
.offer-heading {
    width: 60%;
    margin: auto;
    font-size: 24px;
    /*letter-spacing: 1.2pt;*/
    text-align: center;
    text-align-last: center;

}
.hr {
    height: 5px;
    width: 45px;
    background-color: #FE0000;
    border-radius: 2px;
    margin: 10px auto;
}
.offer-section p {
    width: 80%;
    font-size: 16px;
    text-align: center;
    margin: auto;
    opacity: 0.8;
}
