@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
/*.offer-section {*/
/*    width: 1440px;*/
/*}*/
body {
    font-family: 'Montserrat', sans-serif;

}
h1.heading {
    margin: 50px auto 0;
    text-align: center;
    /*text-align-last: center;*/
    /*border: solid 1px red;*/
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    max-width: 767px;
    letter-spacing: 1.2px;
}
.hr-red {
    height: 5px;
    width: 45px;
    border-radius: 5px;
    background-color: #FE0000;
    margin: 10px auto;

}
p.description {
    font-size: 16px;
    opacity: 0.8;
    text-align: center;
    margin: 10px auto 50px;
    max-width: 920px;
}
.icon-bar {
    margin: auto;
    /*border: solid 1px red;*/
    align-content: center;
}
.icon-container {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    float: left;
}

.icon {
    /*padding: 20px;*/
    height: 125px;
    /*width: 100%;*/
    /*margin: 0 10px 0;*/

}
.icon-bar .icon img {
    max-height: 60px;
    /*max-width: 0px;*/
    /*border: solid 1px red;*/
}
.icon-bar .icon p {
    text-align: center;
    /*border: solid 1px red;*/
    margin: 20px;
    font-weight: 600;
    color: #262525;
}

.icon-bar .profile-pic img {
    width: 100%;
    max-width: 187px;
}
.icon-bar .profile-pic p.name {
    text-align: center;
    font-weight: bold;
    color: #000000;
    letter-spacing: 3px;
    margin-bottom: 0;
    font-size: 20px;
}
.icon-bar .profile-pic p.designation {
    text-align: center;
    color: #262525;
    letter-spacing: 0.9px;
    font-size: 18px;
}
.square1 {
    margin-top: 50px;
    width: 100%;
    background-image: linear-gradient(to right, #FE0000 50%, #ffffff 100%);
    /*padding: 10px;*/
}
.square1 .offer-heading {
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1.5px;
    padding: 20px;
    margin-left: 150px;
}
.item1 img {
    margin-top: -200px;
    /*max-height: 710px;*/
    max-width: 100%;
}
.item1 {
    margin-top: 20px;
}
.item1 p {
    padding-left: 170px;
}
.square2 {
    width: 100%;
    background-image: linear-gradient(to left, #FE0000 50%, #ffffff 100%);
    margin-top: -150px;
}
.square2 .offer-heading {
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1.5px;
    padding: 20px;
    /*float: right;*/
    margin-left: 720px;
}
.item2 img {
    /*max-width: 550px;*/
    margin-top: -120px;
    margin-left: 100px;
}
.item2 p {
    padding-right: 150px;
}
.item2 .col-sm-6 {
    text-align: right;
}
.background-img {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
}

.background p.description {
    font-size: 16px;
    opacity: 0.8;
    text-align: center;
    margin: 10px auto 50px;
    max-width: 920px;
    color: #ffffff;
    opacity: 0.8;
}
.background-img h1.heading {
    margin: 50px auto 0;
    text-align: center;
    color: #FE0000;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    max-width: 767px;
    letter-spacing: 1.2px;
}
.our-interests-content {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 20px 30px #2828282E;
    border-radius: 10px;
    max-width: 553px;
    height: 100%;
}
.text-container {
    width: calc(100% - 100px)
}
.right h5{
    font-size: 18px;
    font-weight: bold;
}

.deck {
    width: 573px;
    /*height: 369px;*/
}